<h1>Users</h1>  
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Users" [(ngModel)]="filterusers">
    </div>
</div>

<table class="table table-striped">
    <thead matSort (matSortChange)="sortData($event)">
        <tr>
            <th style="width: 30%">Avatar</th>
            <th mat-sort-header="first_name" style="width: 30%">First Name</th>
            <th mat-sort-header="last_name" style="width: 30%">Last Name</th>
            <th mat-sort-header="email" style="width: 30%">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="sortedData">
            <ng-container
                *ngFor="let user of sortedData | paginate: { itemsPerPage: 4, currentPage: p } | filter : filterusers">
                <tr>
                    <td><img src="{{user.avatar}}"></td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td style="white-space: nowrap">
                        <a href="javascript:void(0)" (click)="edit(user.id)"
                            class="btn btn-sm btn-primary mr-1">Edit</a>
                        <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user"
                            [disabled]="user.isDeleting">
                            <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!user.isDeleting">Delete</span>
                        </button>
                    </td>
                </tr>
                <div class="edit-user-section" *ngIf="showedit[user.id]">
                    <app-edit [user]="user" [showedit]="showedit"></app-edit>
                </div>
            </ng-container>
        </ng-container>
        <tr *ngIf="loader">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
        <tr *ngIf="!sortedData">
            <td colspan="4" class="text-center">
                No users found.
            </td>
        </tr>
        <div style="text-align: center;">
            <pagination-controls *ngIf="sortedData" (pageChange)="p = $event"></pagination-controls>
        </div>
    </tbody>
</table>